<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :upc, style: "display: block" %>
    <%= form.text_field :upc %>
  </div>

  <div>
    <%= form.label :available_on, style: "display: block" %>
    <%= form.datetime_field :available_on %>
  </div>
  <hr>
  <h2>Properties</h2>
  <div data-controller="properties" data-index="<%= form.object.properties.count > 0 ? form.object.properties.count : 1 %>">
    <div data-properties-target="propertyFields">
      <%= form.fields_for :properties do |property_form| %>
        <div class="row">
          <div class="col-md-6">
            <%= property_form.label :name, style: "display: block" %>
            <%= property_form.text_field :name %>
          </div>
          <div class="col-md-6">
            <%= property_form.label :value, style: "display: block" %>
            <%= property_form.text_field :value %>
          </div>
        </div>

        <% if property_form.object.persisted? %>
          <br>
          <%= property_form.check_box :_destroy %>
          <%= property_form.label :_destroy %>

          <%= property_form.hidden_field :id %>
        <% end %>
        <hr>
      <% end %>
    </div>

    <%= link_to 'Add Property', 'javascript:void(0);', data: { action: "properties#addProperty" } %>
  </div>
  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
